

<h1 style="margin-bottom: 15px;">  Adjust Room Cycle <br />{{facilityName}}<br /></h1>       
<div class="roomSelectorDiv" style="height: 3vh; margin-top:  calc(10vh - 70px); margin-bottom: 70px;">
    <div class="innerGroup"  class="col-sm-10" >
        <div class="form-group" id="facilityGroupSelect" style="float: left; margin-right: 15px;">
          <label for="facilitySelect">Facility</label><br />
          <select id="facilitySelect" (ngModelChange)="loadRooms()" [(ngModel)]="facilityId" name="facilitySelect" style="width: 300px; height: 26px;">
              <option selected disabled>Select Facility</option>
              <option *ngFor="let facility of facilities" [ngValue]="facility.id">{{facility.name}}</option>
          </select>
        </div>
        <div class="form-group" id="roomGroupSelect" style="float: left;">
          <label for="roomSelect">Room</label><br />
          <select id="roomSelect" [(ngModel)]="roomId" name="roomSelect" style="width: 300px; height: 26px;">
              <option selected disabled>Select Room</option>
              <option *ngFor="let room of rooms" [ngValue]="room.id">{{room.name}}</option>
          </select>
        </div>
        <!-- <div class="form-group" id="roomGroupSelect" style="display: inline-block">
          <button class="btn btn-lg btn-primary" routerLink='/edit-room-stages' (click)="loadRoom_n_ShowAllCycles()" style="margin: 5px 0px 5px 15px;">Load Cycle from Room</button>
        </div> -->
        <div class="form-group" id="roomGroupSelect" style="display: inline-block">
          <button class="btn btn-lg btn-primary" (click)="waitLoadRoomCycle()" style="margin: 15px ">Load Cycle from Room</button>
        </div>
        
        <table style ="text-align: right">
          <thead>
            <th>Facility</th>
            <th>Room</th>
            <th>Current Stage</th>
            <th>Cycle</th>    
            <th>Process</th>
            <th>Stages</th>
            <th>Start Time</th>
            <th>Min End Time</th>
            <th>Max End Time</th>
            <th>Manager</th>
            <th>Phone</th>  
          </thead>
          <tbody>
            
            <tr *ngFor="let roomCycle of allCycles" >    
              <td>{{roomCycle.sFacility}}</td>
              <td>{{roomCycle.sRoom}}</td>
              <td>{{roomCycle.currentStage}}</td>
              <!-- <td><span *ngIf= "roomCycle.cc == 1">Edit </span><span *ngIf= "roomCycle.cc == 0">Offline</span><i class="link fa fa-edit" *ngIf="roomCycle.cc == 1" [routerLink]="['/edit-room-stages', roomCycle.cycleID, roomCycle.numberStages,roomCycle.sFacility,roomCycle.cycleManager]" ></i></td> -->
              <td><span *ngIf= "roomCycle.cc == 1">Edit </span><span *ngIf= "roomCycle.cc == 0">Offline</span>
                <i class="link fa fa-edit" *ngIf="roomCycle.cc == 1" [routerLink]="['/editCycle', roomCycle.cycleID, roomCycle.numberStages,roomCycle.sFacility,roomCycle.cycleManagerId,roomCycle.processName]" ></i></td> 
                <!-- <i class="link fa fa-edit" *ngIf="roomCycle.cc == 1" [routerLink]="['/editCycle', roomCycle.cycleID, roomCycle.numberStages,roomCycle.sFacility,roomCycle.cycleManager]" ></i></td> -->
                <!-- <i class="link fa fa-edit" *ngIf="roomCycle.cc == 1" routerLink='/edit-room-stages'  (click)="editCycle(roomCycle)" ></i></td> -->
                
                
                
                <td>{{roomCycle.processName}}</td>
                <td>{{roomCycle.numberStages}}</td>
                <td>{{roomCycle.startTime}}</td>
                <td>{{roomCycle.minEndTime}}</td>
                <td>{{roomCycle.maxEndTime}}</td>
                <td>{{roomCycle.cycleManager}}</td>
                <td>{{roomCycle.cycleManagerPhone}}</td>
              </tr> 
            </tbody>
          </table>
          
        </div>
    </div>