canvas {
    background: black;
}

.graphContainer {
    /* margin-top: 20vh; */
}

.gbtn {
    width: 100%;
    height: 40px;
    margin-top: 15px;
    border-radius: 15px;
    -webkit-box-shadow: inset 2px 2px 5px 0px #242E38;
    -moz-box-shadow: inset 2px 2px 5px 0px #042E4D;
    box-shadow: inset 2px 2px 5px 0px #182D3A;
}